table {
    width: 100%;
    margin-top: 1%;
    height: auto;
    position: relative;
    text-align: center;
    font-weight: bold;
    background-color: #080920 
}

th {
    font-weight: bold;
    text-transform: uppercase;
    text-indent: 0.5rem;
    text-align: center;
    text-orientation: sideways-right;
    color: green;
}

td {
    color: yellow;
}

#th_nome {
    text-indent: 2rem;
}

#th_descricao {
    text-indent: 3.5rem;
}

#th_tema {
    text-indent: 1.3rem;
}

#th_site {
    text-indent: 8rem;
}

.subscribe > i {
    color: blue;
}

form {
    margin: auto;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    width: 50%;
    height: auto;
    text-align: center;
    text-indent: 0.5rem;
}

h3 {
    margin-top: 1%;
    text-align: center;
    font-weight: bold;
}

button {
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-left: 5px;
    width: auto;
}

