.registration {
    text-align: center;
    background-color: gainsboro;
    height: auto;
    width: 50%;
    position: relative;
    display: block;
    margin: auto;
    margin-top: 1%;
}

.registration .registration-title {
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    box-shadow: 10px 5px 5px black;
    background-color: darkblue;
}

.registration .registration-subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.registration .registration-content {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    font-style: oblique;
}

.registration .registration-actions {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 5rem;
    text-align: center;
}

.registration .registration-actions a {
    text-decoration: none;
    color: navy;
}

.registration .registration-actions a:hover {
    background-color: black;
    color: orangered
}

.registration .registration-actions a:active{
    color: aqua;
}

i {
    font-size: 3rem;
}

.registration-actions-registration {
    background-color: darkgray;
}

