<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img src="assets/img/logo1.png" alt="ufrn_logo1" class="logo">
        </a>
    </span>
    <span>
        <a>
            <img src="assets/img/logo2.png" alt="ufrn_logo2" class="logo">
        </a>
    </span>
    <!-- Navigation bar start -->
        <span class="title-group">
            <a routerLink="">
                <i class="material-icons">
                    home
                </i>
                Events Promoter
            </a>
        </span>
        <span class="title-group">
            <a routerLink="/registration">
                <i class="material-icons">
                    app_registration
                </i>
                Cadastre-se
            </a>
        </span>
        <span class="title-group">
            <a routerLink="/login">
                <i class="material-icons">
                    login
                </i>
                Login
            </a>
        </span>
        <span class="title-group">
            <a routerLink="/donation">
                <i class="material-icons">
                    paid
                </i>
                Doar
            </a>
        </span>
        <span class="title-group">
            <a routerLink="/contact">
                <i class="material-icons" style="font-size: 30px;">
                    connect_without_contact
                </i>
                Entre em contato conosco
            </a>
        </span>
    <!-- Navigation bar end -->
</mat-toolbar>









