<mat-card class="registration mat-elevation-z4">
    <mat-card-title class="registration-title">
        Cadastro de Promotor de Eventos
        <i class="material-icons">
            hail
        </i>
        <i class="material-icons">
            app_registration
        </i>
    </mat-card-title>
    <mat-card-subtitle class="registration-subtitle">
        Olá, Promotor de Eventos, por favor realize o seu cadastro para poder começar a usar o Events Promoter!
    </mat-card-subtitle>
    <mat-card-content class="registration-content">
        <form>
            <mat-form-field>
                <input required matInput type="text" placeholder="Nome" [(ngModel)]="promoter.name_promoter" name="name_promoter"
                    pattern=".{3,100}" title="3 ou até 100 caracteres">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="text" placeholder="CNPJ" [(ngModel)]="promoter.cnpj" name="cnpj"
                    pattern="[0-9]{2}.[0-9]{3}.[0-9]{3}/[0-9]{4}-[0-9]{2}" title="Exemplo: xx.xxx.xxx/xxxx-xx"> 
            </mat-form-field>
            <div class="sex">
                <label id="radio-group-label-sex">Sexo:</label>
                <mat-radio-group [(ngModel)]="promoter.sex" name="sex" aria-labelledby="radio-group-label-sex"
                    class="radio-group-sex">
                    <mat-radio-button labelPosition='before' name="male" value="m" id="rbM"> Masculino
                    </mat-radio-button>
                    <mat-radio-button labelPosition='before' name="female" value="f" id="rbF">Feminino
                    </mat-radio-button>
                </mat-radio-group>
            </div>
            <mat-form-field>
                <input required matInput type="date" placeholder="Data de nascimento" [(ngModel)]="promoter.birthDate"
                    name="birthDate">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="text" placeholder="Username" [(ngModel)]="promoter.username"
                    name="username" pattern=".{8,16}" title="8 ou até 16 caracteres">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="password" placeholder="Password" [(ngModel)]="promoter.password_promoter"
                    name="password_promoter" pattern=".{8,16}" title="8 ou até 16 caracteres">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="email" placeholder="Email" [(ngModel)]="promoter.contactEmail"
                    name="contactEmail" pattern="[a-z0-9].{2,16}@[a-z].{2,16}.[a-z]{3}"
                    title="Exemplo: nome.sobrenome@gmail.com">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="tel" placeholder="Telefone" [(ngModel)]="promoter.contactPhone"
                    name="contactPhone" pattern="[0-9]{2}[9]{1}[0-9]{4}[0-9]{4}" title="Exemplo: 84999065876">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="text" placeholder="Estado" [(ngModel)]="promoter.state" name="state"
                    pattern="[A-Z]{2}">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="text" placeholder="Cidade" [(ngModel)]="promoter.city" name="city"
                    pattern="[A-Za-z].{3,56}" title="3 ou até 56 caracteres">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="text" placeholder="Bairro" [(ngModel)]="promoter.district"
                    name="district" pattern="[A-Za-z].{3,56}" title="3 ou até 56 caracteres">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="text" placeholder="Rua" [(ngModel)]="promoter.street" name="street"
                    pattern="[A-Za-z].{3,56}" title="3 ou até 56 caracteres">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="number" placeholder="Número da residência"
                    [(ngModel)]="promoter.number_place" name="number_place" pattern="[0-9]">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="text" placeholder="CEP" [(ngModel)]="promoter.zipCode" name="zipCode"
                    pattern="[0-9]{5}-[0]{3}" title="Exemplo: 59300-000">
            </mat-form-field>
            <mat-form-field>
                <input required matInput type="text" placeholder="Site" [(ngModel)]="promoter.site"
                    name="site" pattern="[a-z].{2,16}.[a-z].{2,16}.[a-z]{3}"
                    title="Exemplo: www.site.com">
            </mat-form-field>
            <!--
            <mat-form-field>
                <input required matInput type="date" placeholder="Data do cadastro" [(ngModel)]="promoter.registrationDate" name="registrationDate">
            </mat-form-field>
            -->
        </form>
    </mat-card-content>
    <!-- <img mat-card-image class="registration-image" alt="presentation" src="assets/img/..."> -->
    <mat-card-actions class="registration-actions">
        <button mat-raised-button (click)="createPromoter()" color="primary">
            Salvar
        </button>
        <button mat-raised-button (click)="cancel()" color="warn">
            Cancelar
        </button>
    </mat-card-actions>
    <!-- <mat-card-footer class="registration-footer"> 	Section anchored to the bottom of the card</mat-card-footer> -->
</mat-card>



