<mat-card class="about mat-elevation-z0">
    <mat-card-title class="about-title">Bem vindo(a) ao Events Promoter!</mat-card-title>
    <mat-card-subtitle class="about-subtitle">
        Estamos muito felizes em receber sua visita!
        <i class="material-icons" style="color: yellow; font-size: 2rem; font-weight: bolder;">
            tag_faces
        </i>
    </mat-card-subtitle>
    <mat-card-content class="about-content">Esse app foi desenvolvido com o objetivo de atuar como uma ferramenta para facilitar a promoção / propagação de eventos por promotores de eventos e conectar entusiastas e interessados à estes eventos.</mat-card-content>
    <!-- <img mat-card-image class="about-image" alt="presentation" src="assets/img/presentation.jpeg"> -->
    <!-- <mat-card-actions class="about-actions">Container for buttons at the bottom of the card</mat-card-actions> -->
    <!-- <mat-card-footer class="about-footer"> 	Section anchored to the bottom of the card</mat-card-footer> -->
    <carousel class="about-carousel" width="1330" height="300" cellWidth="100%" loop="true" autoplay="true" autoplayInterval="2000" pauseOnHover="true" dots="true" objectFit="cover" transitionDuration="1000" transitionTimingFunction="ease" counter="true" arrows="true" arrowsTheme="dark">
        <div class="carousel-cell">
            <img src="assets/img/presentation1.jpeg">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/presentation2.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/presentation3.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/presentation4.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/presentation5.jpg">
        </div>
        <div class="carousel-cell">
            <img src="assets/img/presentation6.jpg">
        </div>
    </carousel>
</mat-card>

