.about {
    text-align: center;
}

.about .about-title {
    font-size: 3rem;
    font-weight: bolder;
    color: white;
    box-shadow: 10px 5px 5px black;
    background-color: darkblue;
    width: 97%;
}

.about .about-subtitle {
    font-size: 2rem;
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.about .about-content {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    font-style: oblique;
}








