table {
    width: 100%;
    margin-top: 1%;
    height: auto;
    position: relative;
    text-align: center;
    font-weight: bold;
}

th {
    text-transform: uppercase;
    text-indent: 0.5rem;
    text-align: center;
    text-orientation: sideways-right;
}

#th_nome {
    text-indent: 3rem;
}

#th_descricao {
    text-indent: 6rem;
}

#th_tema {
    text-indent: 1.3rem;
}

#th_site {
    text-indent: 7rem;
}

.edit > i {
    color: purple;
}

.delete > i {
    color: red;
}



