<h1>
  Entusiasta - Página principal
  <i class="material-icons">
    home
  </i>
  <i class="material-icons">
    accessibility_new
  </i>
</h1>
<mat-card class="home-presentation mat-elevation-z3">
  <mat-card-title class="home-presentation-title">Olá, {{currentUser.name_enthusiast}}! Bem vindo ao Events Promoter!
  </mat-card-title>
  <mat-card-subtitle class="home-presentation-subtitle">Esse é o app que torna possível a divulgação de eventos por
    empresas e a acessibilidade desses eventos por entusiastas nos temas promovidos.</mat-card-subtitle>
</mat-card>
<app-side-nav-enthusiast></app-side-nav-enthusiast>







