.sidenav {
    background-color: #3F51B5;
    width: 200px;
    font-weight: bold;
    position: fixed;
    left: 0;
  }
    
.sidenav a {
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
  
.sidenav a:hover {
    background-color: darkred;
}
    
.sidenav i {
    padding-right: 10px;
}
    
.content {
    padding: 16px;
    background-color: gainsboro;
}
  
.icon-logout {
    margin-left: 1rem;
}


