<app-header-promoter></app-header-promoter>
<mat-card class="home-presentation mat-elevation-z3">
  <mat-card-title class="home-presentation-title">Olá, promotor de eventos, {{ currentUser.name_promoter }}! Bem vindo(a) ao Events Promoter!
  </mat-card-title>
  <mat-card-subtitle class="home-presentation-subtitle">Esse é o app que torna possível a divulgação de eventos por
    empresas/promotores de eventos e a acessibilidade desses eventos pelos entusiastas dos temas promovidos.</mat-card-subtitle>
</mat-card>
<app-side-nav-promoter></app-side-nav-promoter>
<app-footer-logged></app-footer-logged>










