<mat-toolbar class="footer">
    <span id="copyright">© 2021 Events Promoter. All rights reserved.</span>
    <span>Desenvolvido com
        <i class="material-icons v-middle" style="color: red;">favorite</i>
        por
        <strong>
            <a href="https://github.com/DouglasCandido" title="Desenvolvedor"> DouglasCandido </a>
        </strong>
    </span>
    <br />
    <span>Universidade Federal do Rio Grande do Norte - Centro de Ensino Superior do Seridó</span>
    <br />
    <span>Rua Joaquim Gregório, s/n, Penedo, Caicó/RN, CEP 59.300-000</span>
</mat-toolbar>

