.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    height: 2.5rem; 
    color: green;
    background-color:#282d32;
}
  
.footer > span {
    font-weight: normal;
}

.footer a{
    text-decoration: none;
}

#copyright {
    margin-right: 54%;
}



